<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/principal" >Humberto</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- <li><a (click)="mostar()" role="button">Alta empleados</a></li> -->
        <li><a routerLink="/registro" *ngIf="this.miHttp.sosAdmin()"  role="button">Alta usuarios</a></li>
        <li><a routerLink="/rvehiculos" *ngIf="this.miHttp.sosAdmin()"  role="button">Alta vehiculos</a></li>
        <li class="dropdown">
          <a href="#" *ngIf="this.miHttp.sosAdmin()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Listados<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/clientes" role="button">Clientes</a></li>
            <li><a routerLink="/choferes" role="button">Choferes</a></li>
            <li><a routerLink="/vehiculos" role="button">Vehiculos</a></li>
            <li><a routerLink="/choferes" role="button">Empleados</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <!-- //onclick="document.getElementById('id01').style.display='block';" -->
          <li> <a *ngIf="this.miHttp.sosCliente()" role="button" ><app-viaje></app-viaje></a> </li>
          <li><a *ngIf="this.miHttp.sosChofer()" routerLink="/pendientes"role="button">Pendientes</a></li>
          <li><a routerLink="/misViajes"role="button">Mis viajes</a></li>
          <li><a role="button" (click)="cerrarSesion()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
</nav>