


    <form class="form-horizontal">
        <fieldset>
        
        <!-- Form Name -->
        <legend>Encuesta </legend>
        

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="areg">Puntuación chofer</label>
          <div class="col-md-4">
            <select id="areg" name="areg" class="form-control">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>

                <!-- Multiple Radios -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="edad">Estado del vehiculo</label>
          <div class="col-md-4">
          <div class="radio">
            <label for="edad-0">
              <input type="radio" name="edad" id="edad-0" value="1" checked="checked">
              Bueno
            </label>
          </div>
          <div class="radio">
            <label for="edad-1">
              <input type="radio" name="edad" id="edad-1" value="2">
              Malo
            </label>
          </div>
          <div class="radio">
              <label for="edad-1">
                <input type="radio" name="edad" id="edad-1" value="2">
                Regular
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="edad">¿Es buena persona el chofer?</label>
            <div class="col-md-4">
                <div class="checkbox">
                    <label><input type="checkbox" value=""></label>
                  </div>
            </div>
          </div>
        
        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="areg">Imagen del chofer</label>
            <div class="col-md-4">
              <select id="areg" name="areg" class="form-control">
                <option value="buena">buena</option>
                <option value="mala">mala</option>
                <option value="regular">regular</option>
                <option value="no contesta">no contesta</option>
              </select>
            </div>
          </div>
        
          <div class="form-group">
              <label class="col-md-4 control-label" for="areg">Llego a tiempo el chofer</label>
              <div class="col-md-4">
                <select id="areg" name="areg" class="form-control">
                  <option value="si">si</option>
                  <option value="no">no</option>
                </select>
              </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="edad">¿Recomendaría a la empresa?</label>
                <div class="col-md-4">
                    <div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                      </div>
                </div>
              </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="areg">¿fue dificil fue pedir el viaje?</label>
            <div class="col-md-4">
              <select id="areg" name="areg" class="form-control">
                <option value="no">no</option>
                <option value="si">si</option>
                <option value="algo">algo</option>
              </select>
            </div>
          </div>

                  <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="livari">Dejanos un comentario</label>
            <div class="col-md-4">                     
              <textarea class="form-control" id="livari" name="livari"></textarea>
            </div>
          </div>

        
        </fieldset>
        </form>