


    <!-- <form class="form-horizontal"> -->
      <div class="form-horizontal">
        <fieldset >
        
        <!-- Form Name -->
        <legend>Encuesta </legend>
        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="areg">Puntuación chofer</label>
            <div class="col-md-4">
                <select class="form-control" [(ngModel)]="puntos_chofer" (ngModelChange)="temp($event)"  name="puntuacionChofer" id="puntuacionChofer">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>

                <!-- Multiple Radios -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="edad">Estado del vehiculo</label>
          <div class="col-md-4">
          <div class="radio">
            <label for="radioBueno">
              <input type="radio" (click)="pruebaRadio('bueno')" name="edad" id="radioBueno" value="1" checked="checked">
              Bueno
            </label>
          </div>
          <div class="radio">
            <label for="radioMalo">
              <input type="radio"  (click)="pruebaRadio('malo')" name="edad" id="radioMalo" value="2">
              Malo
            </label>
          </div>
          <div class="radio">
              <label for="radioRegular">
                <input type="radio" (click)="pruebaRadio('regular')" name="edad" id="radioRegular" value="2">
                Regular
              </label>
            </div>
          </div>
        </div>


        <div class="form-group">
            <label class="col-md-4 control-label" for="edad">¿Es buena persona el chofer?</label>
            <div class="col-md-4">
                <div class="checkbox">
                    <label><input type="checkbox" id="checkboxBuenaPersona" (click)="pruebaCheckbox()"></label>
                  </div>
            </div>
          </div>
        
        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="areg">Imagen del chofer</label>
            <div class="col-md-4">
                <select class="form-control" [(ngModel)]="imagen_chofer" (ngModelChange)="temp($event)"  name="imagen_chofer" id="imagen_chofer">
                <option value="buena">buena</option>
                <option value="mala">mala</option>
                <option value="regular">regular</option>
                <option value="no contesta">no contesta</option>
              </select>
            </div>
          </div>
        
          <div class="form-group">
              <label class="col-md-4 control-label" for="areg">Llego a tiempo el chofer</label>
              <div class="col-md-4">
                <select class="form-control" [(ngModel)]="tiempo" (ngModelChange)="temp($event)"  name="tiempo" id="tiempo">
                  <option value="si">si</option>
                  <option value="no">no</option>
                </select>
              </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="edad">¿Recomendaría a la empresa?</label>
                <div class="col-md-4">
                    <div class="checkbox">
                        <label><input type="checkbox" id="checkboxRecomendaria" (click)="pruebaCheckbox()"></label>
                      </div>
                </div>
              </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="areg">¿fue dificil fue pedir el viaje?</label>
            <div class="col-md-4">
              <select class="form-control" [(ngModel)]="dificultad" (ngModelChange)="temp($event)"  name="dificultad" id="dificultad">
                <option value="no">no</option>
                <option value="si">si</option>
                <option value="algo">algo</option>
              </select>
            </div>
          </div>

                  <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="livari">Dejanos un comentario</label>
            <div class="col-md-4">                     
              <textarea class="form-control" [(ngModel)]='this.comentario' rows="2" maxlength="66" id="comentario" >Escriba un comentario</textarea>
            </div>
          </div>


        
        </fieldset>
        <mat-dialog-actions style="float:right;">
          <button mat-raised-button mat-dialog-close>Cancelar</button>
          <button mat-raised-button (click)="Enviar()" color="accent" [disabled]="puntos_chofer == '' || estado_vehiculo == '' || imagen_chofer == '' || tiempo == '' || dificultad == ''" >Enviar</button>
        </mat-dialog-actions>

      </div>
        <!-- </form> -->