<app-header (enviarDato)="Enviar($event)"  ></app-header>
<div >
  <div class="container">
      <h1><b>Bienvenido {{usuario}}</b></h1>
       <img src="./assets/imagenes/fondo.jpg" alt="Avatar" class="avatar" width="90%" height="500px"/>
  
                <!-- <div class="form-group">
                    <input type="file" (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg" />
                    <img  src={{base64textString}} alt="" id="img" width="50" height="50" >
                </div> -->

    </div>



</div>
