<app-header (enviarDato)="Enviar($event)"  ></app-header>
<div class="container">
  <p *ngIf="mostrarIF == 'si'">
    Sos administrador
  </p>

  <!-- <button (click)="listar()">Listar</button> -->

    <div *ngIf="mostrarClientes == true">
        <h1><b>Listado de clientes</b></h1>
           <table class="table table-condensed table-hover">
             <thead>
               <tr>
                 <th>id</th>
                 <th>nombre</th>
                 <th>email</th>
                 <th>tipo</th>
                 <th>estado</th>
                 <th>accion</th>
               </tr>
             </thead>
             <tbody>
               <tr  *ngFor="let usuario of listadoDeClientes | admin">
                 <td>{{usuario.id}} </td>
                 <td>{{usuario.nombre}} </td>
                 <td>{{usuario.email}} </td>
                 <td>{{usuario.tipo}} </td>
                 <td [appColor] = "usuario.estado" >{{usuario.estado}} </td>
                 <td>
                   <button *ngIf="usuario.estado == 'SUSPENDIDO'" type="button" class="btn btn-success btn-block" (click)="activarSuspender(usuario.id,'empleado/activar')" >Activar</button>
                   <button *ngIf="usuario.estado != 'SUSPENDIDO'" type="button" class="btn btn-warning btn-block" (click)="activarSuspender(usuario.id,'empleado/suspender')" >Supender</button>
                </td>
               </tr>
             </tbody>
           </table>           
    </div>
    <div *ngIf="mostrarClientes == false">
        <h1><b>Listado de clientes</b></h1>
        <h3>{{mensajeClientes}}</h3>
     </div>



      <div *ngIf="mostrarEmpleados == true">
          <h1><b>Listado de empleados</b></h1>
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>id</th>
                <th>nombre</th>
                <th>email</th>
                <th>tipo</th>
                <th>estado</th>
                <th>accion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of listadoDeUsuarios | admin">
                <td >{{usuario.id}} </td>
                <td>{{usuario.nombre}} </td>
                <td>{{usuario.email}} </td>
                <td [appColor] = "usuario.tipo" >{{ usuario.tipo }} </td>
                <td>{{usuario.estado}} </td>
                <td>
                    <button *ngIf="usuario.estado == 'SUSPENDIDO'" type="button" class="btn btn-success btn-block" (click)="activarSuspender(usuario.id,'empleado/activar')" >Activar</button>
                    <button *ngIf="usuario.estado != 'SUSPENDIDO'" type="button" class="btn btn-warning btn-block" (click)="activarSuspender(usuario.id,'empleado/suspender')" >Supender</button>
                 </td>
              </tr>
            </tbody>
          </table>
      </div>
      <div  *ngIf="mostrarEmpleados == false">
          <h1><b>Listado de empleados</b></h1>
          <h3>{{mensajeEmpleado}}</h3>
       </div>

</div>
