<app-header (enviarDato)="Enviar($event)"></app-header>
<mat-spinner *ngIf="mostrarSpinner" style="margin:auto;margin-top:150px;" ></mat-spinner>
<div *ngIf="!mostrarSpinner" class="container example-container mat-elevation-z8">
  <h1>
    Listado de viajes
  </h1>
  <label for="tipo">
    <b>Estado</b>
  </label>
  <select class="form-control" [(ngModel)]="tipo" (change)="ngOnInit()" name="tipo" id="tipo">
    <option value='todos'>todos</option>
    <option value='pendiente'>pendiente</option>
    <option value='finalizado'>finalizado</option>
    <option value="en curso">en curso</option>
  </select>
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro global">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource"  matSort matSortActive="fecha" matSortDirection="desc" matSortDisableClear>

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef mat-sort-header> fecha </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fecha}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="hora">
      <mat-header-cell *matHeaderCellDef mat-sort-header> hora </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.hora}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="tipo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> tipo </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.tipo}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="pago">
        <mat-header-cell *matHeaderCellDef mat-sort-header> pago </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.pago}} </mat-cell>
      </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="estado">
        <mat-header-cell *matHeaderCellDef mat-sort-header> estado </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.estado}} </mat-cell>
      </ng-container>


    <!-- Symbol Column -->
    <ng-container *ngIf="this.miHttp.getDataTipo() == 'encargado' || this.miHttp.getDataTipo() == 'admin' || this.miHttp.getDataTipo() == 'chofer'" matColumnDef="cliente">
        <mat-header-cell *matHeaderCellDef mat-sort-header> cliente </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.cliente  }} </mat-cell>
      </ng-container>

          <!-- Symbol Column -->
    <ng-container *ngIf="this.miHttp.getDataTipo() == 'encargado' || this.miHttp.getDataTipo() == 'admin' || this.miHttp.getDataTipo() == 'cliente'" matColumnDef="chofer">
        <mat-header-cell *matHeaderCellDef mat-sort-header> chofer </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.chofer | chofer}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="ruta" >
          <mat-header-cell *matHeaderCellDef mat-sort-header> ruta </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button  (click)="verRuta(element)" >Ver ruta</button>
          </mat-cell>
      </ng-container>

                <!-- Symbol Column -->
    <ng-container matColumnDef="precio">
        <mat-header-cell *matHeaderCellDef mat-sort-header> precio </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.precio | precio}} </mat-cell>
      </ng-container>


    <ng-container matColumnDef="Accion">
      <mat-header-cell *matHeaderCellDef> Accion </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div class="button-row">
            <button mat-mini-fab color="warn" *ngIf="this.miHttp.getDataTipo() == 'cliente' && row.estado === 'pendiente'"  (click)="cancelarViaje(row.id)">
                <i class="far fa-trash-alt fa-lg"></i>
              </button>
              <div *ngIf="this.miHttp.getDataTipo() == 'cliente' && row.estado == 'pendiente'">
                  <app-viaje-modificar [viaje] = "row" ></app-viaje-modificar>
              </div>
              <button mat-mini-fab  *ngIf="this.miHttp.getDataTipo() == 'cliente' && row.estado === 'finalizado'" [disabled]="!this.mostrarEncuesta(row.id)" (click)="encuesta(row.id)">
                  <i class="far fa-check-square fa-lg"></i>
                </button>
        </div>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [appViaje] = "row.estado" > </mat-row>
  </mat-table>
  <div *ngIf="this.miHttp.getDataTipo() == 'encargado' || this.miHttp.getDataTipo() == 'admin'" style=" text-align: center" class="button-row">
      <button mat-button  (click)="exportar('pdf')" ><i class="far fa-file-pdf fa-2x"></i></button>
      <!-- <button mat-button *ngIf="this.miHttp.sosAdmin()" (click)="exportar('excel')" ><i class="far fa-file-excel fa-2x"></i></button> -->
      <!-- <a mat-button href="{{php}}" (click)="phpExportar('pdf')" >PHP <i class="far fa-file-pdf fa-2x"></i></a>-->
      <a mat-button href="{{php}}" (click)="exportar('excel')" ><i class="far fa-file-excel fa-2x"></i></a> 
  </div>
<mat-paginator #paginator
[pageSize]="10"
[pageSizeOptions]="[5, 10, 20]"
[showFirstLastButtons]="true">
</mat-paginator>

</div>

